* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

li {
    list-style-type: none;
}
body {
    padding-left: 25wv;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222;
    position: relative;
    min-height: 100vh;
  }

.flex-container {
  display: flex;
  gap: 20px;
}
.container {
    display: flex;
    padding-bottom: 100px;
    flex-direction: column;
}


.form-container {
  display: flex;
  flex-direction: column;

}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 2;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.read {
  align-self: flex-start;
}

label {
  padding-top: 5px;
}
.form-bottom {
  padding-top: 5px;
  padding-bottom: 5px;
}
.modal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-content {
  background-color: #fff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on your design */
  }
  
button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
}

.btn-open {
  position: absolute;
  bottom: 150px;
}

.btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
}

.hidden {
  display: none;
}

.title {
  width: 250px;
}

.author {
  width: 250px;
}

.pages {
  width: 100px;
}

.read {
  width: 100px;
}

.remove {
  width: 25px;
}

#book-header {
  padding-bottom: 15px;
}

#book-list {
  padding-bottom: 3px;
}